<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLScriptExecute.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsModernForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <SQLScriptExecute.Properties.Settings>
            <setting name="SelectedServer" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowsAuthentication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDefaultLogPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateExcelLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogErrorsOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptsToExecutePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeSubFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarnBeforeRunning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExecuteScriptsUntilFinished" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StopAfterErrorCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ConsecutiveErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MasterConnectionString" serializeAs="String">
                <value>Server=Server; Database=master; Trusted_Connection=True;</value>
            </setting>
        </SQLScriptExecute.Properties.Settings>
        <WindowsModernForm.Properties.Settings>
            <setting name="SelectedServer" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowsAuthentication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDefaultLogPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateExcelLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogErrorsOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptsToExecutePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeSubFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarnBeforeRunning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExecuteScriptsUntilFinished" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StopAfterErrorCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ConsecutiveErrors" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsModernForm.Properties.Settings>
    </userSettings>
</configuration>